* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 24px;



}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    list-style-type: none;



}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center
}

body h1 { grid-area: 1 / 1 / 2 / 6; }
#container_1 { grid-area: 2 / 1 / 3 / 3; }
#container_2 { grid-area: 2 / 3 / 3 / 5; }
#container_3 { grid-area: 3 / 1 / 4 / 3; }
#container_4 { grid-area: 3 / 3 / 4 / 5; }
#container_5 { grid-area: 4 / 1 / 5 / 3; }
#container_6 { grid-area: 4 / 3 / 5 / 5; }
